// @import "../css/jquery.fullpage.min.css";
// // @import "./node_modules/slick-carousel/slick/slick.scss";
// @import "../../../../node_modules/slick-carousel/slick/slick.scss";
@import "utils/mixins";
@import "utils/vars";
@import "utils/fonts";
@import "utils/normalize";
// @import "../../../node_modules/bootstrap-4-grid/scss/grid.scss";

html, body {
    height: 100%;
}

html {
    font-size: $main-font-size;
    line-height: $main-line-height;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size: $main-font-size;
    line-height: $main-line-height;
    font-weight: $main-font-weight;
    color: $color-black;
    background-color: $color-white;
    @extend %antialias;
    width: 100%;
    position: relative;
    // overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

//imgs
img, svg {
    max-width: 100%;
}
svg {
    fill: currentColor;
    max-height: 100%;
}
.icon{
    display: inline-flex;
}



// links
button, a {
    cursor: pointer;
}
.simple-link{
    color: $color-text;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.text-link{
    color: $color-gray;
    text-decoration: underline;
    transition: color $transition-base;
    &:hover{
        text-decoration: underline;
        color: $color-black
    }
}


strong,
.bold{
    @include font-700;
}




.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    &__header,
    &__footer{
        flex: 0 0 auto;
    }
    &__main{
        flex: 1 0 auto;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: 100%;
    max-width: 1200px;

    @include rIn(960,1200){
        max-width: 940px;
    }
}


//colors
.color-error{
    color: $color-error;
}
.bg-gray{
    background-color: #f3f4f8;
}
.half-opacity{
    opacity: .5;
}


.js-toggle-state{
    .state-1{
        display: block;
    }
    .state-2{
        display: none;
    }
    &.toggled{
        .state-1{
            display: none;
        }
        .state-2{
            display: block;
        }
    }
}

.pageList{
    @extend %reset-list;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    li{
        margin-bottom: 15px;
    }
}
.hidden{
    display: none !important;
}

// Components
@import "components";

// Utils
@import "utils/utils";
