extends ../layout/main
include ../components/footer

block variables
    - title = 'title';
    - pageClass = 'list-page',
    - login = false,
    - noenterLink = 'signin.html',
    - noenterText = 'Sign in',

block head

block header
    +header()

block content

    -
        var pages = [
            {
                name: 'signUp',
                link: 'signup.html'
            },
            {
                name: 'signin',
                link: 'signin.html'
            },
            {
                name: 'signin with error',
                link: 'signin2.html'
            },
            {
                name: 'pass recovery',
                link: 'pass.html'
            },
            {
                name: 'pass recovery result',
                link: 'pass2.html'
            },
            {
                name: 'Spotlight',
                link: 'spotlight.html'
            },
            {
                name: 'Spotlight > Section',
                link: 'spotlight2.html'
            },
            {
                name: 'Library',
                link: 'library.html'
            },
            {
                name: 'Profile > blogs',
                link: 'profile-blog.html'
            },
            {
                name: 'Profile > content',
                link: 'profile-content.html'
            },
        ]

    // examples
    ul.pageList
        each item in pages
            li
                a(href!=item.link)!= item.name


    //- +icon('arrow-left',{cls: 'csdd'})

