extends ../layout/main
include ../components/footer


block head


block content
    .container
        -
            var cardsInfo = [
                {
                    num: 25
                }
            ]

        +card(cardsInfo)