extends ../layout/main
include ../components/footer

block variables
    - title = 'Library';
    - pageClass = 'bg-gray library',
    - login = true,


block head

block header
    +header()

block content
    .container
        .library__wrapper

            .library__sidebar.sidebar.sidebar_type-2
                .sidebar__inner
                    ul.sidebar__filter
                        li
                            a(href="#") Bookmarked
                        li
                            a.is-active(href="#") Opened
                    .sidebar__tabs_mobile-trigger
                        span
                            | Oldest
                        i.icon
                            +icon('chevron-down')
                    //- is-open when you want show on mobile
                    ul.sidebar__tabs
                        li
                            a(href="#") Newest
                        li
                            a.is-active(href="#") Oldest
                        li
                            a(href="#") Rating

            .library__inner
                -
                    var cardsInfo = [
                        {
                            num: 10
                        }
                    ]
                noscript
                    style.
                        .cards-section{
                            opacity: 1 !important;
                            transform: translateY(0) !important;
                        }
                        .library .cards-section__columns{
                            -webkit-box-flex: 1;
                            -ms-flex: 1 1 100%;
                            flex: 1 1 100%;
                            max-width: 100%;
                        }
                .cards-section(style="opacity:0;transform:translateY(20px);")
                    .cards-section__columns.cards-section__columns_first
                        +card(cardsInfo)
                    .cards-section__columns

                    +loader()
                    a.hidden(href="http://readian.site-creator4u.ru/infiniteScrollPath.html").pagination__next Next page src




block script
    script(src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js")
    script(src="https://unpkg.com/colcade@0/colcade.js")

    script.
        var grid        = document.querySelector('.cards-section'),
            firstColumn = document.querySelector('.cards-section__columns_first');

        var colc = new Colcade( grid, {
            columns: '.cards-section__columns',
            items: '.card'
        });
        document.addEventListener("DOMContentLoaded", function(event) {
            grid.classList.add('loaded');
        });

        var infScroll = new InfiniteScroll( firstColumn, {
          // options
          path: '.pagination__next',
          append: '.card',
          status: '.page-load-status',
          history: false,
        });

        infScroll.on( 'append', function( response, path, items ) {
            //- console.log('test')
            window.cards.refresh();
            window.toggleStatement();
            colc.append( items );
        });


