extends ../layout/main
include ../components/footer

block variables
    - title = 'title';
    - pageClass = 'sign-page',
    - login = false,
    - noenterLink = 'signup.html',
    - noenterText = 'Sign up',

block head

block header
    +header()

block content
    -
        var sign = [
            {
                title: 'Password recovery',
                type: 'pass',
                text: 'Continue',
                removeDisabled: true
            },
        ]

    +sign(sign)

