extends ../layout/main
include ../components/footer

block variables
    - title = 'title';
    - pageClass = 'sign-page',
    - login = false,
    - noenterLink = 'signup.html',
    - noenterText = 'Sign up',

block head

block header
    +header()

block content
    .sign-page__wrapper
        .sign-page__inner.text-center
            .sign-page__pass-img
                img(src=imgPath('decor/key.png'))
            .sign-page__title.sign-page__title_smaller Check your email
            label.form-group.mb-0
                a.form-group__btn(href="/")
                    | Back to homepage