extends ../layout/main
include ../components/footer

block variables
    - title = 'Profile';
    - pageClass = 'bg-gray profile';
    - login = true;
    - userSettings = true;


block head

block header
    +header()

block content
    .container
        .profile__wrapper

            .profile__sidebar.sidebar.sidebar_type-2
                .sidebar__inner
                    ul.sidebar__filter.sidebar__filter_fullwidth
                        li
                            a.is-active(href="#") Blogs
                        li
                            a(href="#") Tags
                        li
                            a(href="#") Feeds
                        li
                            a(href="#") Content Language

                    ul.sidebar__filter.sidebar__filter_fullwidth
                        li
                            a(href="#") Personal Settings
                        li
                            a.color-red(href="#") Log Out


            .profile__inner
                .profile-content
                    .profile-content__header
                        ul.content-tab.content-tab_head
                            li
                                a.is-active(href="#tab1") Subscriptions
                            li
                                a(href="#tab2") Muted
                        a.btn.btn_primary.js-modal(href="#" data-target="modal-list") Add Blog
                    .profile-content__body
                        -
                            var blogs = [
                                'andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com','andevcon.com'
                            ]
                        ul.content-tab.content-tab_body
                            li.is-active
                                each item, i in blogs
                                    .profile-content__item.blog-item
                                        .blog-item__img
                                            if(i == 1)
                                                img(src=imgPath('demo/fav1.png') alt="")
                                            else if(i == 5)
                                                img(src=imgPath('demo/fav2.png') alt="")
                                            else if(i == 6)
                                                img(src=imgPath('demo/fav3.png') alt="")
                                            else if(i == 7)
                                                img(src=imgPath('demo/fav4.png') alt="")
                                            else if(i == 9)
                                                img(src=imgPath('demo/fav5.png') alt="")
                                            else
                                                .placeholder

                                        a(href="#").blog-item__name!=item
                                        .blog-item__icons
                                            if(i == 2 || i == 3 || i == 4 || i == 7)
                                                i.icon.icon_visible
                                                    +icon('pin',{cls: 'icon-pin'})
                                            else
                                                i.icon
                                                    +icon('pin',{cls: 'icon-pin'})

                                        if(i == 10)
                                            .blog-item__more.tooltip.tooltip_open
                                                i.icon
                                                    +icon('menu-vertical',{cls: 'icon-menu'})
                                                .tooltip__inner
                                                    ul
                                                        li
                                                            i.icon
                                                                +icon('pin',{cls: 'icon-pin'})
                                                            span Pin
                                                        li
                                                            i.icon
                                                                +icon('mute',{cls: 'icon-mute'})
                                                            span Mute
                                                        li
                                                            i.icon
                                                                +icon('unfollow',{cls: 'icon-unfollow'})
                                                            span Unfollow
                                        else if (i == 3)
                                            .blog-item__more.tooltip.tooltip_open
                                                i.icon
                                                    +icon('menu-vertical',{cls: 'icon-menu'})
                                                .tooltip__inner
                                                    ul
                                                        li
                                                            i.icon
                                                                +icon('unpin',{cls: 'icon-pin'})
                                                            span Unpin
                                                        li
                                                            i.icon
                                                                +icon('unmute',{cls: 'icon-mute'})
                                                            span Unmute
                                                        li
                                                            i.icon
                                                                +icon('follow',{cls: 'icon-unfollow'})
                                                            span Follow
                                        else
                                            .blog-item__more.tooltip
                                                i.icon
                                                    +icon('menu-vertical',{cls: 'icon-menu'})
                                                .tooltip__inner
                                                    ul
                                                        li
                                                            i.icon
                                                                +icon('unpin',{cls: 'icon-pin'})
                                                            span Unpin
                                                        li
                                                            i.icon
                                                                +icon('unmute',{cls: 'icon-mute'})
                                                            span Unmute
                                                        li
                                                            i.icon
                                                                +icon('follow',{cls: 'icon-unfollow'})
                                                            span Follow

                            li
                                each item, i in blogs
                                    .profile-content__item.blog-item
                                        .blog-item__img
                                            img(src="", alt="")
                                        .blog-item__name!=item
                                        .blog-item__more.tooltip.tooltip_left(data-tooltip-target="tooltip2")
                                            i.icon
                                                +icon('menu-vertical',{cls: 'icon-menu'})



