extends ../layout/main
include ../components/footer

block variables
    - title = 'title';
    - pageClass = 'sign-page',
    - login = false,
    - noenterLink = 'signin.html',
    - noenterText = 'Sign in',

block head

block header
    +header()

block content
    -
        var sign = [
            {
                title: 'Sign up',
                type: 'signup'
            },
        ]

    +sign(sign)
