extends ../layout/main
include ../components/footer

block variables
    - title = 'Spotlight';
    - pageClass = 'bg-gray spotlight',
    - login = true,


block head

block header
    +header()

block content
    .container
        .spotlight__wrapper

            .spotlight__sidebar.sidebar.sidebar_type-1#sidebarSpotlight
                .sidebar__inner
                    .sidebar__mobile-trigger#sidebarSpotlightTrigger
                        i.icon
                            +icon('setting')
                    .sidebar__select-tag
                        .sidebar__select-tag__tag-name
                            | wonderzine
                        i.icon.sidebar__select-tag__remove
                            +icon('close')
                    .sidebar__tags-list.sidebar__tags-list_selected
                        .wrapper-overflow
                            .wrapper-overflow__body
                                each item in taglist
                                    a.sidebar__tag(href="#" class!= (item == 'wonderzine') ? 'sidebar__tag_is-select': '' )!=item

            .spotlight__sidebar-overlay#sidebarSpotlightOverlay

            .spotlight__inner
                .cards-section
                    -
                        var cardsInfo = [
                            {
                                num: 10,
                                cls: 'card_full-width'

                            }
                        ]
                    +card(cardsInfo)



block script
    script.
        var trigger = document.getElementById("sidebarSpotlightTrigger"),
            overlay = document.getElementById("sidebarSpotlightOverlay"),
            sidebar = document.getElementById("sidebarSpotlight");

        trigger.addEventListener('click', function (event) {
            sidebar.classList.toggle('is-open');
        });
        overlay.addEventListener('click', function (event) {
            sidebar.classList.remove('is-open');
        });
