extends ../layout/main
include ../components/footer

block variables
    - title = 'Spotlight';
    - pageClass = 'bg-gray spotlight',
    - login = true,


block head

block header
    +header()

block content
    .container
        .spotlight__wrapper

            .spotlight__sidebar.sidebar.sidebar_type-1#sidebarSpotlight
                .sidebar__inner
                    .sidebar__mobile-trigger#sidebarSpotlightTrigger
                        i.icon
                            +icon('setting')
                    ul.sidebar__tabs
                        li
                            a(href="#") Today
                        li
                            a.is-active(href="#") Yestrday
                        li
                            a(href="#") Week
                    .sidebar__tags-list
                        .wrapper-overflow
                            .wrapper-overflow__body
                                each item in taglist
                                    a.sidebar__tag(href="#")!=item

            .spotlight__sidebar-overlay#sidebarSpotlightOverlay

            .spotlight__inner
                -
                    var cardsInfo = [
                        {
                            num: 4
                        }
                    ]
                -
                    var cardsInfo2 = [
                        {
                            num: 4
                        }
                    ]
                .cards-section
                    .cards-section__header
                        a.cards-section__title(href="#")
                            | Technologies
                            i.icon
                                +icon('back')
                    .cards-section__body
                        +card(cardsInfo)

                .cards-section
                    .cards-section__header
                        a.cards-section__title(href="#")
                            | Food
                            i.icon
                                +icon('back')
                    .cards-section__body
                        +card(cardsInfo2)



block script
    script.
        var trigger = document.getElementById("sidebarSpotlightTrigger"),
            overlay = document.getElementById("sidebarSpotlightOverlay"),
            sidebar = document.getElementById("sidebarSpotlight");

        trigger.addEventListener('click', function (event) {
            sidebar.classList.toggle('is-open');
        });
        overlay.addEventListener('click', function (event) {
            sidebar.classList.remove('is-open');
        });
