%button{
    padding: 0.575em 1.38em;
    @extend %reset-btn;
    display: inline-flex;
    flex: 0 0 auto;
    max-width: 100%;
    font-size: 13px;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 36px;
}


.btn {
    @extend %button;
    &_primary {
        color: $color-white;
        background-color: $color-primary;

        @include hover {
            color: $color-white;
            background-color: darken($color-primary, 10%);
        }
    }

}