.card{
    margin-bottom: 20px;
    position: relative;
    background-color: $color-white;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    display: block;
    max-width: 100%;
    &__top{
        position: relative;
        &::before{
            content: '';
            @extend %overlay-full;
            z-index: 1;
            background: linear-gradient(180deg, rgba(44, 47, 53, 0.4) 0%, rgba(44, 47, 53, 0) 100%);
            pointer-events: none
        }
    }
    &__img{
        @include aspect-ratio(422,274,true);
        img{
            @extend %overlay-full;
            object-fit: cover;
        }
    }
    &_full-width{
        @include media(sm){
            .card__img{
                @include aspect-ratio(880,274,true);
            }
        }
    }
    &__src{
        position: absolute;
        top: 16px;
        left: 20px;
        color: $color-white;
        z-index: 2;
        display: flex;
        align-items: center;
        .icon{
            margin-left: 5px;
            width: 10px;
            height: 15px;
        }
    }
    &__close{
        position: absolute;
        z-index: 2;
        top: 12px;
        right: 14px;
        opacity: .5;
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
        .icon{
            width: 24px;
            height: 24px;
            color: $color-white;
        }
    }

    &__bottom{
        padding: 16px 20px 20px;
    }
    &__time{
        margin-bottom: 1em;
        font-size: 15px;
        color: $color-text;
    }
    &__title{
        margin-top: 0;
        margin-bottom: 20px;
        @include css-lock(20,22,768,1200);
        @include font-600;
        line-height: 1.34;
    }
    &__bottom-line{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        color: $color-gray;
    }
    &__bottom-tags{
        display: flex;
        max-width: calc(100% - 100px);
        @extend %text-truncate;
        .tag{
            &:not(:last-child){
                margin-right: 15px;
            }
            display: flex;
            align-items: center;
            transition: color $transition-base;
            &:hover{
                cursor: pointer;
                color: $color-primary_dark;
            }
        }
        .icon{
            margin-left: 5px;
            width: 10px;
            height: 15px;
        }
    }
    &__bottom-more{
        margin-left: 18px;
        transition: color $transition-base;
        &:hover{
            cursor: pointer;
            color: $color-primary_dark;
        }
        .icon{
            width: 15px;
            height: 15px;
        }
    }
    &__bottom-bookmark{
        margin-left: auto;
        margin-right: 10px;
        color: $color-text;
        transition: color $transition-base;
        &:hover{
            cursor: pointer;
            color: $color-primary_dark;
        }
        .icon{
            fill: none;
            stroke: currentColor;
            width: 24px;
            height: 24px;
        }
    }
    &__bottom-like{
        color: $color-text;
        transition: color $transition-base;
        &:hover{
            cursor: pointer;
            color: $color-primary_dark;
        }
        .icon{
            width: 24px;
            height: 24px;
            fill: none;
            stroke: currentColor;
        }
    }

    &__helper{

        @extend %overlay-full;
        pointer-events: none;
        z-index: 2;
        .tag{
            padding: .375em .875em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            line-height: 1.2;
            &__title{
                margin-right: auto;
            }
            &__icon{
                display: inline-flex;
                opacity: 0;
                color: #C0C4CD;
                transition: all $transition-base;
                &_visible{
                    opacity: 1;
                }
                &:hover{
                    cursor: pointer;
                    color: $color-text;
                }
                &:last-child{
                    margin-left: 5px;
                }
            }
            .icon-mute{
                width: 13px;
                height: 10px;
            }
            .icon-bell{
                width: 14px;
                height: 14px;
            }
        }
        &-overlay{
            @extend %overlay-full;
            z-index: 1;
            background-color: transparent;
            opacity: 0;
            transition: all $transition-base;
        }
        &-tag{
            padding: 8px 0;
            @include abs-center();
            width: 250px;
            z-index: 2;
            background-color: $color-white;
            border-radius: 6px;
            opacity: 0;
            transition: all $transition-base;
            transform: translate(-50%,calc(-50% + 20px));
        }
        &-tag-list{
            padding: 8px 0;
            @include abs-center();
            width: 250px;
            background-color: $color-white;
            border-radius: 6px;
            opacity: 0;
            z-index: 2;
            transition: all $transition-base;
            transform: translate(-50%,calc(-50% + 20px));
            .tag{
                &:hover{
                    background-color: #F3F4F8;
                    .tag__icon{
                        opacity: 1;
                    }
                }
            }
            ul{
                @extend %reset-list;
            }
            .wrapper-overflow{
                &__body{
                    max-height: 250px;
                }
            }
        }
        &-emoji{
            padding: 8px 0;
            @include abs-center();
            width: 250px;
            background-color: $color-white;
            border-radius: 6px;
            opacity: 0;
            z-index: 2;
            transition: all $transition-base;
            transform: translate(-50%,calc(-50% + 20px));
            ul{
                @extend %reset-list;
            }
            .emoji{
                padding: .857em 1.42em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                line-height: 1.2;
                color: $color-text;
                @include font-600;
                &.emoji_highlight{
                    color: $color-primary;
                }

                &__icon{
                    margin-right: .857em;
                    width: 1.85em;
                    height: 1.85em;
                }
                &__title{
                    margin-right: auto;
                }

            }
            .wrapper-overflow{
                &__body{
                    max-height: 310px;
                }
            }
        }
    }
    // .test{
    //     font-size: 30px;
    // }

    //statements
    &._closed{
        .card__helper{
            &-overlay{
                opacity: 1;
                pointer-events: auto;
                background-color: rgba(178, 180, 186, 0.8);
            }
        }
    }
    &._openSingleTag{
        .card__helper{
            &-overlay{
                opacity: 1;
                pointer-events: auto;
                background-color: rgba(101, 107, 114, 0.26);
            }
            &-tag{
                opacity: 1;
                pointer-events: auto;
                transform: translate(-50%,-50%);
            }
        }
    }
    &._openListTag{
        .card__helper{
            &-overlay{
                opacity: 1;
                pointer-events: auto;
                background-color: rgba(101, 107, 114, 0.26);
            }
            &-tag-list{
                opacity: 1;
                pointer-events: auto;
                transform: translate(-50%,-50%);
            }
        }
    }
    &._showEmoji{
        .card__helper{
            &-overlay{
                opacity: 1;
                pointer-events: auto;
                background-color: rgba(101, 107, 114, 0.26);
            }
            &-emoji{
                opacity: 1;
                pointer-events: auto;
                transform: translate(-50%,-50%);
            }
        }
    }
}

