.form-group{
    @include css-lock(1.5,2,768,1200,margin-bottom,em);
    // margin-bottom: 2em;
    font-size: 16px;
    display: block;
    width: 100%;
    position: relative;
    &__control{
        border: none;
        width: 100%;
        line-height: 1;
        padding: .625em 0;
        &:focus{
            outline: none;
        }
        &:focus ~ .form-group__label,
        &.is-filled ~ .form-group__label{
            color: $color-primary;
            &::before{
                transform: scaleX(1);
            }
            .placeholder{
                top: -.4em;
                font-size: .75em;
                color: currentColor;
            }
        }
        &.is-filled.is-error,
        &.is-filled.is-error ~ .form-group__label{
            color: $color-error;
        }
    }
    &__label{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 1;
        color: #E5E8EE;
        border-bottom: 1px solid;
        transition: color .23s ease;
        .placeholder{
            position: absolute;
            transition: all .23s ease;
            font-size: 1em;
            top: 1em;
            left: 0;
            color: $color-gray-placeholder;
            backface-visibility: hidden;
            will-change: top, font-size;
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: center;
            background-color: currentColor;
            transition: transform .23s ease;
        }
    }

    &__btn{
        @extend %reset-btn;
        padding: 12/16*1em 25/16*1em;
        width: 100%;
        background-color: $color-primary;
        font-size: 16px;
        border-radius: 4px;
        color: $color-white;
        transition: all $transition-base;
        &:disabled{
            color: rgba($color-white,.5);
        }
        &:hover:not(:disabled){
            background-color: $color-primary_dark;
        }
    }

}
.form-error{
    margin-top: 20px;
}

.custom-checkbox{
    margin-bottom: 2em;
    display: block;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
    input{
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        &:checked ~ .custom-checkbox__pseudo{
            background-color: $color-primary;
            border-color: $color-primary;
        }

    }
    a{
        color: $color-primary;
        @include font-600;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    &__pseudo{
        width: 18/14*1em;
        height: 18/14*1em;
        border: 0.1em solid #C8CEDA;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .23s ease;
        background-color: transparent;
        cursor: pointer;
        svg{
            fill: none;
            stroke: $color-white;
        }
    }
    &__text{
        padding-left: 27/14*1em;
        display: block;
    }

    &__pseudo{
        &:hover{
            border-color: #9EA9BE;
        }
        input:checked ~ &:hover{
            background-color: $color-primary_dark;
            border-color: $color-primary_dark;
        }
    }
        // input:checked ~ .custom-checkbox__pseudo{
        //     background-color: $color-primary_dark;
        //     border-color: $color-primary_dark;
        // }

}