.header{
    background-color: #fff;
    &-container{
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_noenter{
            max-width: 100%;
            @include media(md){
                @include minmax(padding, mIn(45/1400*100vw, 45px) mIn(70/1400*100vw, 70px), 45px 70px);
            }
            @include rIn(sm,md){
                padding: 14px 40px;
                @include minmax(padding, mIn(13/960*100vw, 13px) mIn(40/960*100vw, 40px), 13px 40px);
            }
            @include media(sm,max){
                padding: 14px 10px;
            }
        }
    }
    &__sign{
        @include css-lock(17,22,768,1200);
        @include font-600;
    }
    .nav{
        @include media(md){
            margin-left: 150px;
            margin-right: auto;
        }
        ul{
            @extend %reset-list;
            display: flex;
            li{
                &:not(:last-child){
                    @include css-lock(18,38,320,768, margin-right);
                }
            }
            a,span{
                position: relative;
                @include css-lock(16,18,320,768);
                text-decoration: none;
                @include font-600;
                transition: color $transition-base;
                &:hover{
                    text-decoration: none;
                    color: $color-primary;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    background-color: $color-primary;
                    left: 0;
                    bottom: -22/14*1rem;
                }
                &.is-current{
                    color: $color-primary;
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .user-pic {
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            opacity: 0;
            background-color: $color-primary;
            left: 0;
            bottom: -.9rem;
        }
        &.is-current{
            &::after{
                opacity: 1;
            }
        }
        img{
            width: 38px;
            height: 38px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}