.library{
    &__wrapper{
        padding-top: 36px;
        display: flex;
        justify-content: space-between;
        @include media(lg,max){
            padding-top: 0;
            display: block;
        }
    }
    &__sidebar{
        @include media(lg){
            flex: 1 1 260px;
            max-width: 260px;
        }
        @include media(lg,max){
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
    &__inner{
        flex: 1;
        @include media(lg,max){
            min-height: 1500px;
            margin-top: 20px;
            display: block;
        }
        @include media(lg){
            padding-left: 40px;
        }

    }
    .cards-section{
        display: flex;
        flex-flow: row wrap;
        &.loaded{
            opacity: 1 !important;
            transform: translateY(0) !important;
            transition: all $transition-base;
        }
        @include media(md){
            justify-content: space-between;

        }
        &__columns{
            flex: 1 1 100%;
            max-width: 100%;
            @include media(md){
                flex: 1 1 calc(50% - 8px);
                max-width: calc(50% - 8px);
                flex-basis: calc(50% - 8px);
            }
        }
    }
}