.profile{
    &__wrapper{
        padding-top: 36px;
        padding-bottom: 36px;
        display: flex;
        justify-content: space-between;
        @include media(lg,max){
            padding-top: 0;
            display: block;
        }
    }
    &__sidebar{
        @include media(lg){
            flex: 1 1 260px;
            max-width: 260px;
        }
        @include media(lg,max){
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
    &__inner{
        flex: 1;
        @include media(lg,max){
            margin-top: 20px;
            display: block;
        }
        @include media(lg){
            padding-left: 40px;
        }

    }
}
.profile-content{
    --side-padding: 22px;
    @include media(sm, max){
        --side-padding: 12px;
    }
    padding: 0 var(--side-padding);
    background-color: $color-white;
    border-radius: 6px;
    &__header{
        padding-top: 3px;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        display: flex;
        width: calc(100% + calc(var(--side-padding)*2));
        max-width: calc(100% + calc(var(--side-padding)*2));
        margin-left: calc(-1 * var(--side-padding));
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EBEDF4;

    }

}

.blog-item{
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEDF4;
    transition: all $transition-base;
    position: relative;
    &:hover{
        .blog-item__name{
            color: #7D849E;
        }
    }
    &__img{
        margin-right: 12px;
        img,
        .placeholder{
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
        .placeholder{
            border-radius: 50%;
            background-color: #DEDFE6;
        }
    }
    &__name{
        flex: 1;
        margin-right: auto;
        position: static;
        text-decoration: none;
        color: $color-text;
        &::after{
            content: '';
            position: absolute;
            z-index: 1;
            height: 100%;
            width: calc(100% - 75px);
            top: 0;
            left: 0;
        }
    }
    &__icons{
        margin-right: 12px;

        .icon{
            opacity: 0;
            color: #AAB4C0;
            &_visible{
                opacity: 1;
            }
        }
        .icon-pin{
            width: 24px;
            height: 24px;
        }
    }
    &__more{
        cursor: pointer;
        color: $color-text;
        &:hover{
            color: $color-primary;
        }
        .icon{
            color: inherit;
        }
        .icon-menu{
            width: 23px;
            height: 23px;
        }
    }
}

.content-tab{
    @extend %reset-list;
    &_head{
        display: flex;
        li{
            padding: 0 15px;
            &:first-child{
                padding-left: 0;
            }
            a{
                padding: 15px 0;
                display: block;
                position: relative;
                text-decoration: none;
                color: $color-text;
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    background-color: $color-primary;
                    left: 0;
                    bottom: 0;
                }
                &:hover,
                &.is-active{
                    color: $color-primary;
                }
                &.is-active{
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &_body{
        & > li{
            padding-bottom: 24px;
            &:not(.is-active){
                display: none;
            }
        }
    }
}

.tooltip{
    position: relative;
    &__inner{
        position: absolute;
        right: 100%;
        top: 0;
        min-width: 130px;
        display: block;
        background-color: $color-white;
        box-shadow: 0px 2px 8px rgba(53, 53, 53, 0.1);
        border-radius: 6px;
        pointer-events: none;
        transform: translateY(10px);
        opacity: 0;
        transition: all $transition-base;
        z-index: 2;
        ul{
            @extend %reset-list;
            padding: 8px 0;
            color: $color-text;
            li{
                padding: 4px 12px;
                display: flex;
                align-items: center;
                background-color: $color-white;
                transition: background-color $transition-base;
                &:hover{
                    background-color: #F3F4F8;
                }
            }
            .icon{
                margin-right: 8px;
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    &_open{
        .tooltip__inner{
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }
}



svg{
    &.icon-pin,
    &.icon-unfollow,
    &.icon-mute{
        stroke: currentColor;
        fill: none;
    }

}