.sidebar{
    &__inner{
        @include media(md){
            position: sticky;
            top: 0;
        }
        // @include media(md,max){
        //     opacity: 0;
        //     transition: opacity .23s ease;
        // }
    }
    &__tabs{
        margin-bottom: 16px;
        background-color: $color-white;
        border-radius: 6px;
        @extend %reset-list;
        display: flex;
        @include media(md, max){
            padding-left: 12px;
            border-bottom: 1px solid #EBEDF4;
            border-radius: 0;
        }
        li{
            flex: 1;
            text-align: center;
            @include media(md, max){
                margin: 0 12px;
                flex: 0 0 auto;
            }
            a{
                padding: 1em 0;
                display: inline-block;
                position: relative;
                text-decoration: none;
                font-size: 14px;
                color: $color-text;
                @include media(md, max){
                    padding: 1.7em 0;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $color-primary;
                    opacity: 0;
                    display: block;
                    left: 0;
                    bottom: 0;
                    position: absolute;
                }
                &.is-active{
                    color: $color-primary;
                    &::after{
                        opacity: 1;
                    }
                }
                &:hover{
                    color: $color-primary_light;
                }
            }
        }
    }
    &__filter{
        padding: 20px 15px 20px var(--container-padding);
        background-color: $color-white;
        border-radius: 6px;
        @extend %reset-list;
        display: flex;
        flex-flow: row wrap;
        @include media (lg){
            margin-bottom: 16px;
            padding: 12px 6px 12px 18px;
        }
        &_fullwidth{
            li{
                @include media(lg){
                    flex: 1 1 100%;
                    max-width: 100%;
                    a{
                        padding: .35em 0;
                    }
                }
            }
        }
        li{
            margin-right: 18px;
            flex: 0 0 auto;

            a{
                display: inline-block;
                position: relative;
                text-decoration: none;
                font-size: 14px;
                color: $color-text;
                &.color-red{
                    color: $color-error;
                    &:hover{
                        color: darken($color-error, 10%);
                    }
                }
                @include media (lg, max){
                    @include font-600;
                    font-size: 16px;
                    &::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        opacity: 0;
                        background-color: #2c73f3;
                        left: 0;
                        bottom: -1.57143rem;
                    }
                    &.is-active{
                        &::after{
                            opacity: 1;
                        }
                    }
                }
                &.is-active{
                    color: $color-primary;
                }
                &:hover{
                    color: $color-primary_light;
                }
            }
        }
    }
    &__select-tag{
        margin-bottom: 16px;
        padding: 12px 6px 12px 18px;
        background-color: $color-white;
        border-radius: 6px;
        color: $color-text;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media(md, max){
            padding: 1.5em 10px 1.5em 18px;
            border-bottom: 1px solid #EBEDF4;
            border-radius: 0;
        }
        &__tag-name{
            font-size: 18px;
        }
        &__remove{
            width: 24px;
            height: 24px;
            transition: opacity $transition-base;
            &:hover{
                opacity: .4;
                cursor: pointer;
            }
        }
    }
    &__tags-list{
        padding: 14px;
        padding-right: 10px;
        background-color: $color-white;
        border-radius: 6px;
        .wrapper-overflow{
            &__body{
                max-height: 400px;
                @include media(md,max){
                    max-height: calc(100vh - 120px);
                }
            }
        }
        &_selected{
            .sidebar__tag:not(.sidebar__tag_is-select){
                color: #B2B8BF;
            }
        }

    }
    &__tag{
        margin-right: 0.6em;
        margin-bottom: 0.4em;
        padding: .15em 0;
        display: inline-block;
        color: $color-text;
        text-decoration: none;
        font-size: 16px;
        &:hover{
            color: $color-primary;
        }
    }
    &_type-1{

    }
    &_type-2{
        .sidebar__tabs_mobile-trigger{
            padding: 20px var(--container-padding);
            display: none;
            align-items: center;
            .icon{
                margin-left: 6px;
                svg{
                    width: 8px;
                    height: 4px;
                }
            }
        }


        @include media(lg,max){
            display: block;
            width: calc(100% + (calc(var(--container-padding) * 2)));
            max-width: calc(100% + (calc(var(--container-padding) * 2)));
            margin-left: calc(var(--container-padding) * -1);
            background-color: $color-white;
            .sidebar__tabs{
                margin: 0;
                padding: 8px 0;
                position: absolute;
                display: block;
                width: 170px;
                background: $color-white;
                box-shadow: 0px 2px 8px rgba(53, 53, 53, 0.1);
                border-radius: 6px;
                z-index: 10;
                top: 100%;
                right: var(--container-padding);
                transform: translateY(-10px);
                opacity: 0;
                pointer-events: none;
                transition: all $transition-base;
                &.is-open{
                    opacity: 1;
                    transform: translateY(0);
                    pointer-events: auto;
                }
                a{
                    display: block;
                    width: 100%;
                    text-align: left;
                    padding: 8px 12px;
                    &::after{
                        content: none;
                    }
                    &.is-active{
                        color: $color-text;
                    }
                }
                &_mobile-trigger{
                    display: flex;
                }
            }
            .sidebar__inner{
                border-top: 1px solid #EBEDF4;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

    }
    &__mobile-trigger{
        position: absolute;
        background: $color-white;
        border-radius: 0px 4px 4px 0px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 100%;
        top: 85px;

        box-shadow: 0 0 10px 3px rgba(0,0,0,.02);

        .icon{
            width: 20px;
            height: 16px;
        }
        @include media(md){
            display: none;
        }
    }
}



.wrapper-overflow{
    overflow: hidden;
    &__body{
        margin-top: -1px;
        width: 101%;
        overflow-x: hidden;
        overflow-y: auto;

        //ff
        scrollbar-color: #E5E8EE #ffffff;
        scrollbar-width: thin;

        //webkit
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #ffffff;
        }
        &::-webkit-scrollbar-thumb {
            background-color:#E5E8EE;
            border-radius: 7px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-gray-placeholder;
        }
    }
}