.sign-page{
    .layout__main{
        position: static;
    }
    &__wrapper{
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }
    &__inner{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        max-width: 380px;
        @media (max-width:1023px) and (orientation: landscape) {
            max-height: calc(100vh - 100px);
            min-height: 130px;
            overflow-y: auto;
        }
    }
    &__title{
        @include css-lock(45,65,768,1200,margin-bottom);
        @include css-lock(36,48,768,1200);
        line-height: 1;
        text-align: center;
        @include font-600;
        &_smaller{
            @include css-lock(40,51,768,1200,margin-bottom);
            @include css-lock(30,38,768,1200);
        }
    }
    &__socials{
        text-align: center;
        font-size: 12px;
        ul{
            @extend %reset-list;
            li{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 12px;
                }
            }
            svg{
                width: 27px;
                height: 27px;
            }
            a{
                color: $color-text;
                transition: all $transition-base;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
    &__pass-img{
        @media (max-width:1023px) and (orientation:landscape) {
            display: none;
        }
    }
    .custom-checkbox{
        font-size: 14px;
        color: $color-gray;
        a{
            color: inherit;
            text-underline-position: under;
            transition: all $transition-base;
            &:hover{
                color: $color-text;
                text-decoration: underline;
            }
        }
    }
}

