.spotlight{
    &__wrapper{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        @include media(md,max){
            padding-top: 25px;
            overflow: hidden;
        }
    }
    &__sidebar{
        @include media(md){
            flex: 1 1 260px;
            max-width: 260px;
        }
        @include media(md,max){
            position: fixed;
            z-index: 5;
            max-width: 350px;
            background-color: #fff;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            transition: transform $transition-base;
            &.is-open{
                transform: translateX(0);
                & ~ .spotlight__sidebar-overlay{
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
        @include media(sm,max){
            max-width: calc(100% - 40px);
        }
    }

    &__sidebar-overlay{
        @extend %overlay-full;
        position: fixed;
        z-index: 3;
        opacity: 0;
        pointer-events: none;
        background-color: rgba(46, 48, 55, 0.2);
        transition: opacity $transition-base;
    }
    &__inner{
        flex: 1;
        @include media(md,max){
            flex: 1 1 100%;
            max-width: 100%;
        }
        @include media(md){
            padding-left: 40px;
        }

    }

}
.cards-section{
    margin-bottom: 2em;
    &__header{
        text-align: right;
        margin-bottom: 1.3rem;
    }
    &__body{
        // column variant == sometime very big bottom paggind
            // column-count: 2;
            // columns: 2 400;
            // column-gap: 16px;
        // end column variant

        // flex variant == need max height
        @include media(sm){
            display: flex;
            flex-flow: column wrap;
            max-height: 1200px;
        }
        // end flex variant

        // float variant
            // @extend %clearfix;
        // end float variant
        .card{
            // column variant
                // page-break-inside: avoid;
                // break-inside: avoid;
            // end column variant

            // flex variant
            @include media(sm){
                margin: 0 1rem 1rem 0;
                width: calc(50% - 8px);
            }
            // end flex variant

            // float variant = 3/5
                // @include media(md){
                //     width: calc(50% - 8px);
                //     float: left;
                //     &:nth-child(even){
                //         float: right;
                //     }
                // }
            // end float variant
        }
    }
    &__title{
        display: inline-flex;
        align-items: center;
        @include css-lock(18,22,320,1200);
        @include font-600;
        color: $color-text;
        text-decoration: none;
        .icon{
            svg{
                width: 28px;
                height: 28px;
            }
        }
    }
}


