mixin card(data)
    -
        var timestamps = [
            '1 hour ago',
            '2 hour ago',
            'December 2, 2020',
            'September 20, 2020',
            'May 12, 2020',
        ]

        var titles = [
            "The 10-day, 1,600-mile race only the ‘Most Hard-Core Women’ Go Off-Road for Rebelle Rally",
            "Vivenu, a ticketing API for events, closes a $15M Series A round led",
            "A tween tries Apple’s new ‘Family Setup’ system for Apple Watch",
            "5 reasons you don’t want to miss out on TC Sessions: Space 2020",
            "U.S.-funded media outlet ‘Current Time’ fires journalist for appearing on YouTube show to discuss conspiracy theory about Alexey Navalny’s father-in-law",
            "<strong>Abandoned and forgotten</strong> Russia’s far-eastern city of Vladivostok remains paralyzed nearly two weeks after a major ice storm"
        ]

    // BEGIN card
    each item in data
        while item.num > 0
            - var randImg = getRandomArbitrary(0,5)
            - var randTagCount = getRandomArbitrary(2,5)
            - item.num--
            .card(class!=item.cls)
                .card__inner
                    .card__top
                        .card__img
                            img(src=imgPath(`demo/card-img${randImg}.jpg`))
                        .card__src
                            | nytimes
                            span.half-opacity
                                | .com
                            i.icon.half-opacity
                                +icon('bell')
                        .card__close
                            i.icon
                                +icon('close')

                    .card__bottom
                        .card__time!=timestamps[getRandomArbitrary(0,timestamps.length)]
                        h2.card__title!=titles[getRandomArbitrary(0,titles.length)]
                        .card__bottom-line
                            .card__bottom-tags
                                - var x = randTagCount
                                - var db = 0
                                while x > 0
                                    - var y = getRandomArbitrary(0,2)
                                    - var customIndex = getRandomArbitrary(0,taglist.length)
                                    if customIndex == db
                                        - customIndex = getRandomArbitrary(0,taglist.length)
                                    else
                                        - db = customIndex

                                    .tag
                                        .tag__title!= taglist[customIndex]
                                        if y == 1
                                            .tag__icon
                                                i.icon
                                                    +icon('bell')
                                    - x--

                            if randTagCount == 4
                                .card__bottom-more
                                    i.icon
                                        +icon('more')
                            .card__bottom-bookmark.js-toggle-state
                                i.icon.state-1
                                    +icon('bookmark')
                                i.icon.state-2
                                    +icon('bookmark_triggered')
                            .card__bottom-like.js-toggle-state(data-long-press-delay='1000')
                                i.icon.state-1
                                    +icon('like')
                                i.icon.state-2
                                    +icon('like_triggered')



                    .card__helper
                        .card__helper-overlay

                        .card__helper-tag
                            .tag
                                .tag__title
                                    | offroading sport
                                .tag__icon.tag__icon_visible
                                    i.icon
                                        +icon('mute-filled',{cls: 'icon-mute'})
                                .tag__icon.tag__icon_visible
                                    i.icon
                                        +icon('bell',{cls: 'icon-bell'})

                        .card__helper-tag-list
                            .wrapper-overflow
                                .wrapper-overflow__body
                                    ul
                                        each item in taglist
                                            li.tag
                                                .tag__title!=item
                                                .tag__icon
                                                    i.icon
                                                        +icon('mute-filled',{cls: 'icon-mute'})
                                                .tag__icon(class!= (item == 'meduza') ? 'tag__icon_visible' : '')
                                                    i.icon
                                                        +icon('bell',{cls: 'icon-bell'})

                        .card__helper-emoji
                            .wrapper-overflow
                                .wrapper-overflow__body
                                    -
                                        var emojiList = [
                                            {title: 'Liked', num: 5},
                                            {title: 'Entertaining'},
                                            {title: 'Educational', num: 123},
                                            {title: 'Sad', num: 3},
                                            {title: 'Controversial'},
                                            {title: 'Incompetent', num: 1},
                                        ]
                                    ul
                                        each item in emojiList
                                            li.emoji(class!=item.num ? 'emoji_highlight' : '')
                                                .emoji__icon
                                                    img(src=imgPath(item.num ? 'demo/emoji1.svg' : 'demo/emoji2.svg'))
                                                .emoji__title!= item.title
                                                .emoji__num!= item.num



    // END card