mixin header(data)
    - data = data || {}
    -
        var nav = [
            {name: 'Spotlight', link: '/'},
            {name: 'Library', link: '/'},
        ]


    //BEGIN header
    header.header
        .container.header-container(class!= !login ? 'header-container_noenter' : '')
            picture.logo
                source(srcset=imgPath('logos/logo.svg') media="(min-width: 960px)")
                img(src=imgPath('logos/logo_mob.svg') alt="")

            if login
                .nav
                    ul
                        each item in nav
                            li.menu-item
                                if item.name == title
                                    span.is-current!= item.name
                                else
                                    a(href=`${item.link}`)!= item.name

                if userSettings
                    span.user-pic.is-current
                        img(src=imgPath('demo/avatar.png') alt="")
                else
                    a.user-pic(href="#")
                        img(src=imgPath('demo/avatar.png') alt="")
            else
                a.header__sign.simple-link(href!=noenterLink)!= noenterText


    //END header

