mixin loader()
    .page-load-status
        // animation
        .loader-ellipse.infinite-scroll-request
            .loader-ellipse__dot
            .loader-ellipse__dot
            .loader-ellipse__dot
            .loader-ellipse__dot

        // when all loaded
        .infinite-scroll-last
            span
                | There is nothing to load yet :)

        // when error
        .infinite-scroll-error
            span
                | There is some error, please try later