mixin sign(data)
    - data = data || {}
    //- -
    //-     var nav = [
    //-         {name: 'Spotlight', link: '/'},
    //-         {name: 'Library', link: '/'},
    //-     ]

    //- title
    //- type

    .sign-page__wrapper
        each item in data
            .sign-page__inner
                .sign-page__title(class!=(item.type == 'pass') ? 'sign-page__title_smaller' : '')!=item.title
                form.sign-page__form.mb-6
                    label.form-group
                        input.form-group__control.is-filled(type='email' value="Cleadoltz@gmail.com" class!= item.errors ? 'is-error' : '')
                        span.form-group__label.form-label
                            .placeholder Email

                    if item.type != 'pass'
                        label.form-group
                            input.form-group__control(type='text')
                            span.form-group__label.form-label
                                .placeholder Username

                        if item.type == 'signup'
                            label.form-group
                                input.form-group__control(type='password')
                                span.form-group__label.form-label
                                    .placeholder Password
                            label.form-group
                                input.form-group__control(type='password')
                                span.form-group__label.form-label
                                    .placeholder Password again
                            label.custom-checkbox
                                input(type="checkbox", name="")
                                span.custom-checkbox__pseudo
                                    +icon('check')
                                span.custom-checkbox__text
                                    | I agree to Readian <a href="#" target="_blank">Terms</a> and <a href="#" target="_blank">Privacy Policy</a>

                        if item.type == 'signin'
                            .text-right.mb-5
                                a.text-link(href="pass.html")
                                    | Forgot password?

                    label.form-group.mb-0
                        if item.removeDisabled
                            input.form-group__btn(type='submit', value!=item.text ? item.text : item.title)
                        else
                            input.form-group__btn(type='submit', value!=item.text ? item.text : item.title disabled)

                    if item.errors
                        .form-error.color-error
                            | Please enter your email address

                if item.type == 'pass'
                    .text-center.mt-n3
                        a.text-link(href="signin.html")
                            | Back to Sign In
                else
                    .sign-page__socials
                        p
                            | or sign in with
                        ul
                            li
                                a(href="#")
                                    +icon('google')
                            li
                                a(href="#")
                                    +icon('facebook')