include ../utils/mixins
include ../utils/includes
- var pathPrefix = '';
- var title = 'Title';

- var description = 'Description';
- var pageClass = '';
- var userSettings = false;
- var login = true;
- var noenterLink;
- var noenterText;

-
    var taglist = [
        'vc', 'n1', 'lookatme', 'meduza', 'iphones', 'shazoo', '3dnews', 'ixbt', 'lenta', 'glove', 'jeep', 'core', 'rally', 'API', 'platform', 'capital', '4pda', '3dnews', 'ixbt', 'wonderzine', 'furfur', 'vesti', 'dtf', 'amputate', 'load', 'captain', 'X-ray', 'fate', 'effective', 'formulate', 'willpower', 'clean', 'revolve', 'chimpanzee', 'draw', 'seller', 'depression', 'text', 'base', 'color', 'think', 'ample', 'clinic', 'lorem', 'ipsum', 'dolore', 'N.Kage', 'just do it', 'xmm', 'santa'
    ]

- function imgPath(path) {return pathPrefix + 'assets/img/'+ path}
-
    function getRandomArbitrary(min, max){
        return Math.floor(Math.random() * (max - min) + min);
    }
block variables
//- usage: img(src=imgPath('img.jpg'));

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(content="telephone=no" name="format-detection")
        meta(name="HandheldFriendly" content="true")
        title #{title}
        meta(name="description" content=description)
        link(rel='stylesheet' href=pathPrefix + 'assets/css/app.css')
        block head

    body.body(class=pageClass)
        .layout
            .layout__header
                block header
            main.layout__main
                block content
            //- .layout__footer
            //-     +footer()
        block modals


        script(type='text/javascript' src=pathPrefix + 'assets/js/vendors.js')
        script(type='text/javascript' src=pathPrefix + 'assets/js/app.js')
        block script

