@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');


@mixin font {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
@mixin font-600 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
@mixin font-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
