// Font
$main-font: 'Inter', sans-serif;

// Size
$main-font-size: 14px;
$main-font-weight: 500;
$main-line-height: 17/14;


// Breakpoints
$breakpoints: (
    xs: 0,
    sm: 640px,
    md: 960px,
    lg: 1200px,
    xl: 1920px
);

:root{
    --container-padding: 20px;
    @include media(md,max){
        --container-padding: 10px;
    }
}


// Colors
$color-primary: #2C73F3;
$color-primary_light: #5894FF;
$color-primary_dark: #1A59C9;
$color-primary_disable: #D4E4FF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-text: #222A46;
$color-text_light: #7D849E;
$color-gray: #AAB4C0;
$color-gray-placeholder: #9DA4B2;

$color-overlay: rgba(178, 180, 186, 0.8);

$color-error: #FF4C13;
// Z-indexes
// $z-indexes: (
//         "modal",
//         "latest-activities",
//         "header",
//         "wrapper",
//         "footer"
// );

// Transitions
$transition-base: 0.4s cubic-bezier(.23, 1, .32, 1);
$transition-base-next: 0.4s cubic-bezier(.23, 1, .32, 1) .2s;

//transition last activities
$transition-la: .6s cubic-bezier(0.08, 1.00, 0.21, 1.00);